# Application
spaceship/app/plugins/*
!spaceship/app/plugins/.gitkeep
spaceship/app/mu-plugins/*/
spaceship/app/upgrade
spaceship/app/uploads/*
!spaceship/app/uploads/.gitkeep

# WordPress
spaceship/wp
spaceship/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant
